html {
    height: 100%;
    background-color: black;
}

body {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

h1 {
    padding-top: 20px;
    width: 700px;
    margin: auto;
    color: deepskyblue;
    font-size: 60px;
}

#city {
    background-image: url("../../assets/images/alice.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -30;
    height: 100%;
}

.container {
    width: 400px;
    height: 100%;
    margin: 2% auto;
    position: relative;
    perspective: 1000px;
}

#cube {
    margin: 8% auto 0 auto;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ( -100px);
}

#cube figure {
    margin: 0;
    width: 400px;
    height: 400px;
    display: block;
    position: absolute;
    border: 3px solid black;
    cursor: pointer;
    overflow: auto;
}

#face-color {
    background-color: white;
    opacity: 0.075;
    width: 400px;
    height: 400px;
    position: absolute;
}

#headline {
    color: white;
    font-size: 40px;
    opacity: .85;
}

#typewriter-headline,
#typewriter-summary {
    color: white;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    z-index: 10;
    padding: 20px;
}

#typewriter-summary {
    padding-top: 0;
}

#seek-box {
    /*	background-color: white;*/
    position: absolute;
    width: 225px;
    height: 200px;
    left: 100px;
    bottom: 100px;
    background-image: url("../../assets/images/rabbit.png");
    cursor: pointer;
}

#input-area {
    float: left;
    margin-top: 2%;
}

#input-box input[type="text"],
textarea {
    color: deepskyblue;
    background-color: black;
    text-align: left;
    padding-top: 1px;
    width: 200px;
    height: 300px;
    font-size: 20px;
    opacity: .78;
}

#note-button {
    color: black;
    opacity: .45;
    background-color: white;
    width: 200px;
    height: 110px;
}

#saved-area {
    float: right;
    margin-top: 2%;
}

#note-box {
    background-color: black;
    font-size: 20px;
    opacity: .58;
    width: 200px;
    height: 300px;
}

#delete-button {
    color: black;
    opacity: .65;
    background-color: white;
    width: 200px;
    height: 110px;
    cursor: pointer;
}

.button {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0px auto;
    padding: 10px;
    cursor: pointer;
}

@media screen and (min-height:900px) {
    .container,
    #input-area,
    #saved-area {
        margin-top: 20%;
    }
    #cube {
        margin-top: 15%;
    }
}
